.btn-wrapper {
    position: absolute;
    top: 20px;
    left: 717px;
}

.btn {
    float: left;
    position: relative;
    cursor: pointer;
    border-radius: 24px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    margin: 0 7px 11px 0;
    text-align: center;
    transition: all 0.2s ease0;
    -webkit-transition: all 0.2s ease0;
    -moz-transition: all 0.2s ease0;
    font: bold 14px Arial, sans-serif;
    width: 150px;
    line-height: 36px;
    height: auto;
    vertical-align: middle;
    border: 1px solid black;
}


.nav-buttons .btn:nth-child(1) span:before {
    content: "\e4ad\20";
}

.nav-buttons .btn:nth-child(2) span:after {
    content: "\20\e4ae";
}

/* nav button colors and other styles */
.nav-buttons .btn {
    background:#C29CB4; 
}
.nav-buttons .btn:hover {
    background:#8D4775; 
}
.nav-buttons .btn:active {
    background:#8D4775; 
}

.nav-button {
    position: relative;
    display: inline-block; 
    padding: 10px;
    margin: 3px;
    width: 5.5em;
    line-height: 0.5em;
    text-align: center;
    font-size: 16px;
    background: #5CE65C;
    -webkit-box-shadow: 1px 4px 0px #296629;
    -moz-box-shadow: 1px 4px 0px #296629;
    box-shadow: 1px 4px 0px #296629;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
}

.nav-button-wrapper {
    position: absolute;
    width: 923px;
    top: 276px; 
    left: 2px;
    padding-bottom: 20px;
    z-index: 10;
}

#prev {
    margin-right: 112px;
}
