.hint-button-wrapper {
    margin-left: 20px;
    position:relative;
    display:inline-block;
}
.hint-button {
    width: 4em;
    height: 1.5em;
    background: red;
    -webkit-transition: all 0.4s;
    -webkit-box-shadow: inset -2.5em 0em 0em 0em #A3A375;
    -moz-box-shadow: inset -2.5em 0em 0em 0em #A3A375;
    box-shadow: inset -2.5em 0em 0em 0em #A3A375;
    line-height: 1.5em;
    margin-left: 8ex;
    border-radius: 15px;
}

.hint-button:before {
    position: relative;
    content: "Hints";
    left: -5ex;
    font-size: 24px;
}

.hint-button:after {
    position: absolute;
    content: "OFF";
    left: 11.2ex;
}

.hint-button.on:after {
    content: "ON";
    position: absolute;
    left: 9ex;
}

.hint-button.on {
    box-shadow: inset 2.5em 0em 0em 0em #A3A375;
    -webkit-box-shadow: inset 2.5em 0em 0em 0em #A3A375;
    -moz-box-shadow: inset 2.5em 0em 0em 0em #A3A375;
    background: green;
}
