.hint-button {
    width: 100px;
    height: 50px;
    border-radius: 50px;
    background: red;
    -webkit-transition: all 0.4s;
    -webkit-box-shadow: inset -50px 0px 0px #A3A375;
    -moz-box-shadow: inset -50px 0px 0px #A3A375;
    box-shadow: inset -50px 0px 0px #A3A375;
    line-height: 3.5em;
    margin-left: 100px;
}

.hint-button:before {
    position: relative;
    content: "Hints";
    left: -96px;
    font-size: 40px;
}

.hint-button:after {
    content: "OFF";
    position: absolute;
    left: 155px;
}

.hint-button.on:after {
    content: "ON";
    position: absolute;
    left: 117px;
}

.hint-button.on {
    box-shadow: inset 50px 0px 0px #A3A375;
    -webkit-box-shadow: inset 50px 0px 0px #A3A375;
    -moz-box-shadow: inset 50px 0px 0px #A3A375;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    background: green;
}
