.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 1.0;
    background: transparent;
    z-index:9999;
}

.modal > div {
    position: absolute; 
}

.modal .overlay {
    background: black;
    opacity: 0.5;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}
.modal .front {
    padding: 20px;
    top: 60px;
    left: 60px;
    box-shadow: 0px 0px 250px 0px blue;
    background: beige;
    border-radius: 5px;
    -moz-border-radius: 5px;
    z-index:10;
}

