.tutorial.nav-button {
    position:absolute;
    top: 19px;
    left: 382px;
    z-index: 999;
}
#prev {
    margin-right: 112px;
}

.tutorial.container {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 1100;
    background: white;
}

body.tutorial .tutorial.nav-button{
    z-index:2000;
}
body.tutorial .tutorial.container {
    margin: 0;
    padding: 0;
}
body.tutorial .tutorial.container > div {
    margin-left: 10px;
}
body.tutorial .tutorial.container .ft-diamond {
    margin: 0;
}
