.tutorial.nav-button {
    position:absolute;
    top: 25px;
    left: 400px;
    z-index: 223456789;
}
#prev {
    margin-right: 112px;
}

.tutorial.container {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    position: absolute;
    z-index: 123456789;
    background: white;
}

body.tutorial .tutorial.nav-button {
    top: 153px;
    left: 20px;
    font-size: 1.5em;
    width: 3.5em;
}
body.tutorial .tutorial.container {
    margin: 0;
    padding: 0;
}
body.tutorial .tutorial.container > div {
    margin-left: 10px;
}
body.tutorial .tutorial.container .ft-diamond {
    margin: 0;
}
