/* PUSHABLE ITEMS */
.pushable {
    box-shadow: 0px -3px #333333 !important;
    -webkit-box-shadow: 0px -3px #333333 !important;
    -moz-box-shadow: 0px -3px #333333 !important;
}

.pushable:hover { }

.pushable:active {
    top: -5px !important; 
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.pushable-down:active {
    top: 5px !important;
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}


/* END PUSHABLE ITEMS */


.show {
    display:visible;
}

.no-select-no-drag {
    user-select:none;
    -ms-user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    user-drag:none;
    -ms-user-drag:none;
    -moz-user-drag:none;
    -webkit-user-drag:none;
}

.transition-top {
    transition: top ease-in-out 300ms;
    -moz-transition: top ease-in-out 300ms;
    -webkit-transition: top ease-in-out 300ms;
}

.offscreen {
    top: -750px !important; 
}

.hide {
    display: none;
}

.correct {
    background-color: rgba(0,255,0,0.6);
}
.incorrect {
    background-color: rgba(255,0,0,0.6);
}

.clear {
    clear:both;
}

.selected {
    background-color: yellow !important;
}



/* FLASH HINT CSS */

.flash {
    border-color:green;
    background:yellow;

}
.flash.red {
    background: red;
}

/* END FLASH HINT CSS */

/* BORDER STUFF */
.blue-border {
    box-shadow: inset 0px 0px 260px 1px blue;
}
/* END BORDER STUFF */

/* DIVIDERS */
.hr-divider {
    border-width: 0px;


}
/* END DIVIDERS */


