/* PUSHABLE ITEMS */
.pushable {
    box-shadow: 0px -3px #333333;
    text-shadow: 0px 1px 1px #000;
}

.pushable:hover { }

.pushable:active {
    top: -5px; 
    box-shadow: none;
}
/* END PUSHABLE ITEMS */


.show {
    display:visible;
}
