.ft-container {
    margin:10px;
    position:relative;
    width:800px;
}

.ft-trinomial {
    width:100%;
    clear:both;
}
    
.ft-diamond {
    position:relative;
    float:right;
}

.ft-diamond span {
    font-size:1.5em;
}

#ft-diamond-text-3 {
    margin-left:-15px;
}

.ft-rectangle {
    position:relative;
    float:left;
    height:350px;
    width:400px; 
    /*background:rgba(0,0,255,0.5);*/
    margin-left:10px;
}

.ft-rectangle div {
    float:left;
    position:relative;
    border:1px solid black;
    width: 100px;
    height:100px;
    line-height:100px;
    font-size:1.5em;
}

.ft-rectangle {
    display:inline-block;
    text-align:center;
    vertical-align:middle;
}

.ftx2 {
    margin-top:40px;
    margin-left:102px;
}

.ftk2 {
    margin-top:40px;
}

.ftx1 {
    clear:both;
}

.fta {

}
.fta span {
    vertical-align:middle;
}

.ftb { 

}

.ftk1 {
    clear:both;
}

.ftc {

}

.ftd {

}
.ftd span {
    vertical-align:middle;
}

.show {
    display:visible;
}



