.ft-container {
    position:relative;
    width:800px;
}

.ft-trinomial {
    width:100%;
    clear:both;
}
    

.ft-rectangle {
    /* these css properties are getting defined in rectangle.js */
}

.ft-diamond {
    position:relative;
    float:right;
}
