<!DOCTYPE html>

<html>
    <head>

    <meta charset="UTF-8">

    <meta name="viewpoint" content="width=device-width">

    <title>Factor Trinomials</title>

    <!-- <link type="text/css" rel="stylesheet" href="../css/ft-style.css"></link> -->
    <link type="text/css" rel="stylesheet" href="../css/main.css"></link>

    <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
    </head>

    <body>
    <div id="factor-trinomials">
        <header>
            <h1>Factor trinomial tutorial</h1>
            <ul id="nav">
                <li><a href="index.html">Home</a></li>
                <li><a href="#">Tutorial</a></li>
            </ul>
        </header> <!--End of header -->

        <div class="example-wrapper">
            <div class="ft-trinomial">
                <span>
                    <em>x</em><sup>2</sup> - 17<em>x</em> + 30
                </span>
            </div>
            <div class="bubble">
                <span>
                The product of the first and last terms goes into the top diamond.
                </span>
            </div>
            <div class="ft-rectangle">
               <div class="ftH"></div>
               <div class="ftx2"></div>
               <div class="ftk2"></div>
               <div class="ftx1"></div>
               <div class="fta"></div>
               <div class="ftb"></div>
               <div class="ftk1"></div>
               <div class="ftc"></div>
               <div class="ftd"></div>
            </div>
            <div class="ft-diamond">
                <div class="diamond-part"></div>
                <div class="diamond-part"></div>
                <div class="diamond-part"><span>30<em>x</em><sup>2</sup></span></div>
                <div class="diamond-part"></div>
            </div>
        </div> <!--End of example-wrapper1 -->

        <div class="example-wrapper">
            <div class="ft-trinomial">
                <span>
                    <em>x</em><sup>2</sup> - 17<em>x</em> + 30
                </span>
            </div>

            <div class="bubble">
                <span>
                The middle term goes into the bottom diamond.
                </span>
            </div>
            <div class="ft-rectangle">
               <div class="ftH"></div>
               <div class="ftx2"></div>
               <div class="ftk2"></div>
               <div class="ftx1"></div>
               <div class="fta"></div>
               <div class="ftb"></div>
               <div class="ftk1"></div>
               <div class="ftc"></div>
               <div class="ftd"></div>
            </div>
            <div class="ft-diamond">
                <div class="diamond-part"><span>-17<em>x</em></span></div>
                <div class="diamond-part"></div>
                <div class="diamond-part"><span>30<em>x</em><sup>2</sup></span></div>
                <div class="diamond-part"></div>
            </div>
        </div> <!--End of example-wrapper2 -->

        <hr class="hr1">

        <div class="example-wrapper">
            <div class="ft-trinomial">
                <span>
                    <em>x</em><sup>2</sup> - 17<em>x</em> + 30
                </span>
            </div>
             <div class="bubble">
                <span class="sideInfo">
                    The remaining two diamonds form a product equal to the value in the top
                    diamond and also form a sum equal to the value in the bottom diamond.
                    For example, -15<em>x</em> &times; -2<em>x</em> = 30<em>x</em><sup>2</sup>
                    and -15<em>x</em> + -2<em>x</em> = -17<em>x</em>.
                </span>
            </div>
            <div class="ft-rectangle">
               <div class="ftH"></div>
               <div class="ftx2"></div>
               <div class="ftk2"></div>
               <div class="ftx1"></div>
               <div class="fta"></div>
               <div class="ftb"></div>
               <div class="ftk1"></div>
               <div class="ftc"></div>
               <div class="ftd"></div>
            </div>
            <div class="ft-diamond">
                <div class="diamond-part"><span>-17<em>x</em></span></div>
                <div class="diamond-part"><span>-15<em>x</em></span></div>
                <div class="diamond-part"><span>30<em>x</em><sup>2</sup></span></div>
                <div class="diamond-part"><span>-2<em>x</em></span></div>
            </div>
        </div> <!--End of example-wrapper3-->

        <hr class="hr1">
        <div class="example-wrapper">
            <div class="ft-trinomial">
                <span>
                    <em>x</em><sup>2</sup> - 17<em>x</em> + 30
                </span>
            </div>
            <div class="bubble">
                <span>
                The GCF of the top row goes in the yellow square.
                </span>
            </div>

            <div class="ft-rectangle">
                <div class="ftH"></div>
                <div class="ftx2"></div>
                <div class="ftk2"></div>
                <div class="ftx1 yellow"><span><em>x</em></span></div>
                <div class="fta"><span><em>x</em><sup>2</sup></span></div>
                <div class="ftb"><span>-15<em>x</em></span></div>
                <div class="ftk1"></div>
                <div class="ftc"><span>-2<em>x</em></span></div>
                <div class="ftd"><span>30</span></div>
            </div>

            <div class="ft-diamond">
                <div class="diamond-part"><span>-17<em>x</em></span></div>
                <div class="diamond-part"><span>-15<em>x</em></span></div>
                <div class="diamond-part"><span>30<em>x</em><sup>2</sup></span></div>
                <div class="diamond-part"><span>-2<em>x</em></span></div>
            </div>

        </div><!--End of example-wrapper4-->

        <hr class="hr1">

        <div class="example-wrapper">
            <div class="ft-trinomial">
                <span>
                    <em>x</em><sup>2</sup> - 17<em>x</em> + 30
                </span>
            </div>
            <div class="bubble">
                <span>
                    The term that multiplies with <em>x</em> to make the product
                    <em>x</em><sup>2</sup> goes in the yellow area.
                </span>
            </div>

            <div class="ft-rectangle">
                <div class="ftH"></div>
                <div class="ftx2 yellow"><span><em>x</em></span></div>
                <div class="ftk2"></div>
                <div class="ftx1"><span><em>x</em></span></div>
                <div class="fta"><span><em>x</em><sup>2</sup></span></div>
                <div class="ftb"><span>-15<em>x</em></span></div>
                <div class="ftk1"></div>
                <div class="ftc"><span>-2<em>x</em></span></div>
                <div class="ftd"><span>30</span></div>
            </div>

         <div class="ft-diamond">
                <div class="diamond-part"><span>-17<em>x</em></span></div>
                <div class="diamond-part"><span>-15<em>x</em></span></div>
                <div class="diamond-part"><span>30<em>x</em><sup>2</sup></span></div>
                <div class="diamond-part"><span>-2<em>x</em></span></div>
         </div>

     </div><!--End of example-wrapper5-->

        <hr class="hr1">

         <div class="example-wrapper">

             <div class="ft-trinomial">
                <span>
                    <em>x</em><sup>2</sup> - 17<em>x</em> + 30
                </span>
             </div>

             <div class="bubble">
                <span>
                    What multiplies with <em>x</em> to get -15<em>x</em>?
                    Enter the answer in the yellow box.
                </span>
             </div>

           <div class="ft-rectangle">
               <div class="ftH"></div>
               <div class="ftx2"><span><em>x</em></span></div>
               <div class="ftk2 yellow"><span>-15</span></div>
               <div class="ftx1"><span><em>x</em></span></div>
               <div class="fta"><span><em>x</em><sup>2</sup></span></div>
               <div class="ftb"><span>-15<em>x</em></span></div>
               <div class="ftk1"></div>
               <div class="ftc"><span>-2<em>x</em></span></div>
               <div class="ftd"><span>30</span></div>
          </div>

          <div class="ft-diamond">
                <div class="diamond-part"><span>-17<em>x</em></span></div>
                <div class="diamond-part"><span>-15<em>x</em></span></div>
                <div class="diamond-part"><span>30<em>x</em><sup>2</sup></span></div>
                <div class="diamond-part"><span>-2<em>x</em></span></div>
          </div>

     </div><!--End of example-wrapper6-->

     <hr class="hr1">

         <div class="example-wrapper">

             <div class="ft-trinomial">
                <span>
                    <em>x</em><sup>2</sup> - 17<em>x</em> + 30
                </span>
             </div>

               <div class="bubble">
                    <span>
                        What multiplies with -15 to get 30?
                        Enter the number in the yellow  box.
                    </span>
               </div>

             <div class="ft-rectangle">
               <div class="ftH"></div>
               <div class="ftx2"><span><em>x</em></span></div>
               <div class="ftk2"><span>-15</span></div>
               <div class="ftx1"><span><em>x</em></span></div>
               <div class="fta"><span><em>x</em><sup>2</sup></span></div>
               <div class="ftb"><span>-15<em>x</em></span></div>
               <div class="ftk1 yellow"><span>-2</span></div>
               <div class="ftc"><span>-2<em>x</em></span></div>
               <div class="ftd"><span>30</span></div>
              </div>

         <div class="ft-diamond">
                <div class="diamond-part"><span>-17<em>x</em></span></div>
                <div class="diamond-part"><span>-15<em>x</em></span></div>
                <div class="diamond-part"><span>30<em>x</em><sup>2</sup></span></div>
                <div class="diamond-part"><span>-2<em>x</em></span></div>
         </div>

     </div><!--End of example-wrapper7-->

        <hr class="hr1">

         <div class="example-wrapper">

            <div class="ft-trinomial">
                <span>
                    <em>x</em><sup>2</sup> - 17<em>x</em> + 30
                </span>
            </div>

            <div class="bubble">
                <span>
                The factors are (<em>x</em>-2) and (<em>x</em>-15).
                </span>
            </div>

            <div class="ft-rectangle">
               <div class="ftH"><span></span></div>
               <div class="ftx2 orange"><span><em>x</em></span></div>
               <div class="ftk2 orange"><span>-15</span></div>
               <div class="ftx1 orange"><span><em>x</em></span></div>
               <div class="fta"><span><em>x</em><sup>2</sup></span></div>
               <div class="ftb"><span>-15<em>x</em></span></div>
               <div class="ftk1 orange"><span>-2</span></div>
               <div class="ftc"><span>-2<em>x</em></span></div>
               <div class="ftd"><span>30</span></div>
            </div>

            <div class="ft-diamond">
               <div class="diamond-part"><span>-17<em>x</em></span></div>
               <div class="diamond-part"><span>-15<em>x</em></span></div>
               <div class="diamond-part"><span>30<em>x</em><sup>2</sup></span></div>
               <div class="diamond-part"><span>-2<em>x</em></span></div>
            </div>

     </div><!--End of example-wrapper8-->

    </div> <!--End of page-wrapper -->
    </body>
</html>
