<div class="numpad no-select-no-drag transition-top">
    <div class="number pushable-down">0</div>
    <div class="number pushable-down">1</div>
    <div class="number pushable-down">2</div>
    <div class="number pushable-down">3</div>
    <div class="number pushable-down">4</div>
    <div class="number pushable-down">5</div>
    <div class="number pushable-down">6</div>
    <div class="number pushable-down">7</div>
    <div class="number pushable-down">8</div>
    <div class="number pushable-down">9</div>
    <div class="number pushable-down">x</div>
    <div class="number pushable-down">x<span class="exp">2</span></div>
    <div class="number pushable-down">-</div>
    <div class="number pushable-down clr icon-erase"></div>
    <div class="number pushable-down operator"></div>
</div>  
