<!DOCTYPE html>
<html>
    <head>
        <link type="text/css" rel="stylesheet" href="/css/main.css"></link>

    </head>

    <body>
        <div class="numpad no-select-no-drag">
            <div class="number pushable-down">1</div>
            <div class="number pushable-down">2</div>
            <div class="number pushable-down">3</div>
            <div class="number pushable-down">4</div>
            <div class="number pushable-down">5</div>
            <div class="number pushable-down">6</div>
            <div class="number pushable-down">7</div>
            <div class="number pushable-down">8</div>
            <div class="number pushable-down">9</div>
            <div class="number pushable-down">x</div>
            <div class="number pushable-down">x<span class="exp">2</span></div>
            <div class="number pushable-down">-</div>
            <div class="number operator pushable-down">Enter</div>
        </div>  
    </body>
</html>
