<div class="ft-rectangle">
    <!--
                LAYOUT
           -----------------
           |               |
           |   H  x2 | k2  |
           |     --------- |
           |  x1 | a | b | |
           |  ------------ |
           |  k1 | c | d | |
           |     --------- |
           -----------------
        (H := hint)
    -->
    <div class="ftH"><span>The GCF of the top<br/>row goes here<br/>&#x25BC;</span></div> 
    <div class="ftx2"><span class="ftx2"></span></div> 
    <div class="ftk2"><span class="ftk2"></span></div> 
    <div class="ftx1"><span class="ftx1"></span></div> 
    <div class="fta"><span></span></div> 
    <div class="ftb"><span></span></div> 
    <div class="ftk1"><span class="ftk1"></span></div>  
    <div class="ftc"><span></span></div> 
    <div class="ftd"><span></span></div>   
</div>   

