<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.factortrinomials" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Factor Quadratics</name>
    <icon src="../icons/factor-trinomial-icon-v1.png" />
    <description>
        A tool to help you factor quatratic expressions.
    </description>
    <author email="alexander.ressler@gmail.com" href="http://github.com/aressler38">
        Contact
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
